In [1]:
import pandas as pd 
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
df = pd.read_csv("udemy_courses/reviews_cleaned.csv")
table = pd.pivot_table(df, values="rate", columns="user_id", index="course_id")
table.dropna(how='all', axis=1)

user_id,0,1,2,3,4,5,6,7,8,9,...,59667,59668,59669,59670,59671,59672,59673,59674,59675,59676
course_id,,,,,,,,,,,,,,,,,,,,,
9711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3982816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4049392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4189168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4359576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4599580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
matrix = table.subtract(table.mean(axis=1), axis=0)

In [5]:
similarity = matrix.T.corr()
similarity

course_id,9711,10812,11331,13034,15639,21386,22169,24823,26433,41295,...,3490000,3548106,3662358,3792262,3895716,3982816,4049392,4189168,4359576,4599580
course_id,,,,,,,,,,,,,,,,,,,,,
9711,1.0,NaN,NaN,NaN,NaN,1.000000,NaN,0.441298,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10812,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11331,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13034,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15639,NaN,NaN,NaN,NaN,1.0,0.681466,NaN,1.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3982816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.128965,1.0,NaN,NaN,NaN,NaN
4049392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
4189168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
4359576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
4599580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [6]:
course_similarity = cosine_similarity(matrix.fillna(0))
cs_df = pd.DataFrame(course_similarity, index=matrix.index, columns=matrix.index)
cs_df

course_id,9711,10812,11331,13034,15639,21386,22169,24823,26433,41295,...,3490000,3548106,3662358,3792262,3895716,3982816,4049392,4189168,4359576,4599580
course_id,,,,,,,,,,,,,,,,,,,,,
9711,1.000000,0.0,-0.004776,0.000000,0.008988,0.005371,0.0,0.021070,0.000000,-0.004255,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
10812,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.0,-0.003807,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
11331,-0.004776,0.0,1.000000,0.000000,0.000000,0.000000,0.0,0.000017,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
13034,0.000000,0.0,0.000000,1.000000,0.003987,-0.000233,0.0,-0.001729,-0.000607,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
15639,0.008988,0.0,0.000000,0.003987,1.000000,0.036432,0.0,0.004195,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3982816,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.001018,0.0,0.019696,1.0,0.0,0.0,0.0,0.0
4049392,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,-0.005101,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,1.0,0.0,0.0,0.0
4189168,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.001112,0.0,0.0,1.0,0.0,0.0
4359576,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,1.0,0.0
4599580,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,-0.001028,0.000000,0.000000,...,0.0,0.0,0.004473,0.0,0.001341,0.0,0.0,0.0,0.0,1.0

In [8]:
def user_courses(user_id):
    courses = matrix[user_id].dropna(axis=0, how='all').sort_values(ascending=False).reset_index()
    return courses

print(user_courses(2))

   course_id         2
0    1623098  0.415842
1     437398  0.270513

In [26]:
courses_df = pd.read_csv("udemy_courses/Course_info.csv")
courses_df["id"] = courses_df["id"].astype("int64")
courses_df["num_subscribers"] = courses_df["num_subscribers"].astype("int64")
courses_df["content_length_min"] = courses_df["content_length_min"].astype("int64")

In [70]:
def print_course_info(course_id, i):
    print("-"*40);
    if i == 0:
        print("----------TAKEN COURSE----------")
    elif i == 1:
        print("----------TOP RECOMMENDED COURSE----------")
    else:
        print("----------OTHER RECCOMMENDATIONS----------")
    print("-"*40);
    print("Course ID: {}".format(list(courses_df[courses_df["id"]==course_id]["id"])))
    print("Recommended Course: {}".format(list(courses_df[courses_df["id"]==course_id]["title"])))
    print("Instructor Name: {}".format(list(courses_df[courses_df["id"]==course_id]["instructor_name"])))
    print("Category: {}".format(list(courses_df[courses_df["id"]==course_id]["category"])))
    print("Sub-category: {}".format(list(courses_df[courses_df["id"]==course_id]["subcategory"])))
    print("Topic: {}".format(list(courses_df[courses_df["id"]==course_id]["topic"])))
    print("Number of Subscribers: {}".format(list(courses_df[courses_df["id"]==course_id]["num_subscribers"])))
    print("Average Rating: {}".format(list(courses_df[courses_df["id"]==course_id]["avg_rating"])))
    print("Content Length(min): {}".format(list(courses_df[courses_df["id"]==course_id]["content_length_min"])))
    print("Language: {}".format(list(courses_df[courses_df["id"]==course_id]["language"])))
    print("Price: {}".format(list(courses_df[courses_df["id"]==course_id]["price"])))
    print("-"*40)

In [71]:
def get_similar_course(course_id):
    print_course_info(course_id, 0)
    sim_courses = cs_df[course_id].sort_values(ascending=False)[1:]
    i = 1
    for course in sim_courses[:5].index:
        print_course_info(course, i)
        i = 2
get_similar_course(15639)

----------------------------------------
----------TAKEN COURSE----------
----------------------------------------
Course ID: [15639]
Recommended Course: ['Photoshop for Web Design Beginners']
Instructor Name: ['Carl Heaton']
Category: ['Design']
Sub-category: ['Design Tools']
Topic: ['Photoshop']
Number of Subscribers: [210056]
Average Rating: [4.206897]
Content Length(min): [119]
Language: ['English']
Price: [0.0]
----------------------------------------
----------------------------------------
----------TOP RECOMMENDED COURSE----------
----------------------------------------
Course ID: [473160]
Recommended Course: ['Web Design for Web Developers: Build Beautiful Websites!']
Instructor Name: ['Jonas Schmedtmann']
Category: ['Development']
Sub-category: ['Web Development']
Topic: ['Web Design']
Number of Subscribers: [603881]
Average Rating: [4.448942]
Content Length(min): [153]
Language: ['English']
Price: [0.0]
----------------------------------------
----------------------------------------
----------OTHER RECCOMMENDATIONS----------
----------------------------------------
Course ID: [21386]
Recommended Course: ['Beginner Photoshop to HTML5 and CSS3']
Instructor Name: ['Carl Heaton']
Category: ['Development']
Sub-category: ['Web Development']
Topic: ['Photoshop']
Number of Subscribers: [151660]
Average Rating: [4.3]
Content Length(min): [119]
Language: ['English']
Price: [0.0]
----------------------------------------
----------------------------------------
----------OTHER RECCOMMENDATIONS----------
----------------------------------------
Course ID: [756150]
Recommended Course: ['Angular - The Complete Guide (2022 Edition)']
Instructor Name: ['Maximilian Schwarzmüller']
Category: ['Development']
Sub-category: ['Web Development']
Topic: ['Angular']
Number of Subscribers: [626304]
Average Rating: [4.6469083]
Content Length(min): [2082]
Language: ['English']
Price: [189.99]
----------------------------------------
----------------------------------------
----------OTHER RECCOMMENDATIONS----------
----------------------------------------
Course ID: [764164]
Recommended Course: ['The Complete Web Developer Course 2.0']
Instructor Name: ['Rob Percival']
Category: ['Development']
Sub-category: ['Web Development']
Topic: ['Web Development']
Number of Subscribers: [304323]
Average Rating: [4.5501285]
Content Length(min): [1818]
Language: ['English']
Price: [199.99]
----------------------------------------
----------------------------------------
----------OTHER RECCOMMENDATIONS----------
----------------------------------------
Course ID: [903378]
Recommended Course: ['The Python Bible™ | Everything You Need to Program in Python']
Instructor Name: ['Ziyad Yehia']
Category: ['Development']
Sub-category: ['Programming Languages']
Topic: ['Python']
Number of Subscribers: [144995]
Average Rating: [4.640383]
Content Length(min): [549]
Language: ['English']
Price: [189.99]
----------------------------------------