In [10]:
import pandas as pd 
from sklearn.metrics.pairwise import cosine_similarity

In [11]:
df = pd.read_csv("reviews_cleaned.csv")
table = pd.pivot_table(df, values="rate", columns="user_id", index="course_id")
table.dropna(how='all', axis=1)

user_id,0,1,2,3,4,5,6,7,8,9,...,59667,59668,59669,59670,59671,59672,59673,59674,59675,59676
course_id,,,,,,,,,,,,,,,,,,,,,
9711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3982816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4049392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4189168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4359576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4599580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
matrix = table.subtract(table.mean(axis=1), axis=0)

In [13]:
similarity = matrix.T.corr()
similarity

course_id,9711,10812,11331,13034,15639,21386,22169,24823,26433,41295,...,3490000,3548106,3662358,3792262,3895716,3982816,4049392,4189168,4359576,4599580
course_id,,,,,,,,,,,,,,,,,,,,,
9711,1.0,NaN,NaN,NaN,NaN,1.000000,NaN,0.441298,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10812,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11331,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13034,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15639,NaN,NaN,NaN,NaN,1.0,0.681466,NaN,1.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3982816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.128965,1.0,NaN,NaN,NaN,NaN
4049392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
4189168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
4359576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
4599580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [14]:
course_similarity = cosine_similarity(matrix.fillna(0))
cs_df = pd.DataFrame(course_similarity, index=matrix.index, columns=matrix.index)
cs_df

course_id,9711,10812,11331,13034,15639,21386,22169,24823,26433,41295,...,3490000,3548106,3662358,3792262,3895716,3982816,4049392,4189168,4359576,4599580
course_id,,,,,,,,,,,,,,,,,,,,,
9711,1.000000,0.0,-0.004776,0.000000,0.008988,0.005371,0.0,0.021070,0.000000,-0.004255,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
10812,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.0,-0.003807,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
11331,-0.004776,0.0,1.000000,0.000000,0.000000,0.000000,0.0,0.000017,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
13034,0.000000,0.0,0.000000,1.000000,0.003987,-0.000233,0.0,-0.001729,-0.000607,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
15639,0.008988,0.0,0.000000,0.003987,1.000000,0.036432,0.0,0.004195,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3982816,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.001018,0.0,0.019696,1.0,0.0,0.0,0.0,0.0
4049392,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,-0.005101,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,1.0,0.0,0.0,0.0
4189168,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.001112,0.0,0.0,1.0,0.0,0.0
4359576,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,1.0,0.0
4599580,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,-0.001028,0.000000,0.000000,...,0.0,0.0,0.004473,0.0,0.001341,0.0,0.0,0.0,0.0,1.0

In [15]:
def user_courses(user_id):
    courses = matrix[user_id].dropna(axis=0, how='all').sort_values(ascending=0).reset_index()
    return courses

print(user_courses(2))

   course_id         2
0    1623098  0.415842
1     437398  0.270513

In [16]:
def get_similar_course(course_id):
    return cs_df[course_id].sort_values(ascending=0)[1:]

print(get_similar_course(15639))

course_id
473160     0.064212
21386      0.036432
756150     0.014810
764164     0.011095
903378     0.010019
             ...
516446    -0.019083
1270870   -0.020565
348116    -0.028417
446134    -0.029086
412738    -0.041791
Name: 15639, Length: 1029, dtype: float64